@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
  /* outline: 1px red solid; */ /*CSS Layout Debugging*/
}

.bg {
  background: rgb(96, 165, 250);
  background: linear-gradient(
    45deg,
    rgba(96, 165, 250, 1) 0%,
    rgba(147, 197, 253, 1) 12%,
    rgba(165, 243, 252, 1) 49%,
    rgba(167, 243, 208, 1) 87%,
    rgba(134, 239, 172, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
